<%- include('partials/dashboardHead') %>

<body class="nk-body ui-rounder has-sidebar ui-light ">
  <div class="nk-app-root">
    <div class="nk-main ">
      <div class="nk-sidebar is-light nk-sidebar-fixed " data-content="sidebarMenu">
        <div class="nk-sidebar-element nk-sidebar-head">
          <div class="nk-sidebar-brand"><a href="/" class="logo-link nk-sidebar-logo"><img src="images/enbridge.jpg" style="width: 100px;" alt="Company-icon"></a></div>
          <div class="nk-menu-trigger me-n2"><a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a></div>
        </div>
        <div class="nk-sidebar-element">
          <div class="nk-sidebar-content">
            <div class="nk-sidebar-menu" data-simplebar="">
              <%- include('partials/userNav') %>

            </div>
          </div>
        </div>
      </div>
      <div class="nk-wrap ">
        <div class="nk-header is-light nk-header-fixed is-light">
          <div class="container-xl wide-xl">
            <div class="nk-header-wrap">
              <div class="nk-menu-trigger d-xl-none ms-n1 me-3"><a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a></div>
              <div class="nk-header-brand d-xl-none"><a href="/" class="logo-link"><img src="images/enbridge.jpg" style="width: 100px;" alt="Company-icon"></a></div>
              <div class="nk-header-tools">
                <ul class="nk-quick-nav">
                  <li class="dropdown user-dropdown"><a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                      <div class="user-toggle">
                        <div class="user-avatar sm"><em class="icon ni ni-user-alt"></em>
                        </div>
                      </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-end">
                      <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                        <div class="user-card">
                          <div class="user-avatar"><span>
                              <% let letter = user.firstName.split('')[0] %>
                              <%= letter %>
                            </span></div>
                          <div class="user-info"><span class="lead-text"><%= user.firstName %></span><span class="sub-text"><%= user.email %></span></div>
                        </div>
                      </div>
                      <div class="dropdown-inner">
                        <ul class="link-list">
                          <li><a href="/user-profile"><em class="icon ni ni-user-alt"></em><span>View
                                Profile</span></a></li>
                        </ul>
                      </div>

                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="nk-content nk-content-fluid">
          <div class="container-xl wide-xl">
            <div class="nk-content-body">
              <div class="nk-block-head nk-block-head-sm">
                <div class="nk-block-between">
                  <div class="nk-block-head-content">
                    <h3 class="nk-block-title page-title">Personal Information</h3>

                  </div>
                </div>
              </div>


              <div class="nk-block">
                <div class="col-lg-14 col-xl-14">
                  <div class="card card-bordered card-preview">
                    <div class="card-inner">

                      <form class="user-profile-update">
                        <div class="form-group">
                          <label for="firstName">First name</label>
                          <input type="text" class="form-control form-control-lg" id="firstName" value="<%= user.firstName %>">
                        </div>
                        <div class="form-group">
                          <label for="lastName">Last name</label>
                          <input type="text" class="form-control form-control-lg" id="lastName" value="<%= user.lastName %>">
                        </div>
                        <div class="form-group"><label for="email">Email address</label>
                          <input type="text" class="form-control form-control-lg" id="email" placeholder="Email address" disabled value="<%= user.email %>">
                        </div>
                        <div class="form-group"><label for="username">Username</label>
                          <input type="text" class="form-control form-control-lg" id="username" value="<%= user.username %>">
                        </div>
                        <p>
                          <button href="" class="btn btn-lg btn-primary user-data-update-btn">Submit</button>
                        </p>
                      </form>

                      <p>

                        <hr>

                      </p>

                      <h3 class="nk-block-title page-title">Password change</h3>
                      <form class="update-user-password">
                        <div class="form-group">
                          <label for="passwordCurrent">Current password</label>
                          <input type="password" class="form-control form-control-lg" id="passwordCurrent" placeholder="........" required minlength="8">
                        </div>
                        <div class="form-group"><label for="password">New password</label>
                          <input type="password" class="form-control form-control-lg" id="password" placeholder="........" required minlength="8">
                        </div>
                        <div class="form-group"><label for="passwordConfirm">Confirm
                            password</label>
                          <input type="password" class="form-control form-control-lg" id="passwordConfirm" placeholder="........" required minlength="8">
                        </div>
                        <p>
                          <button href="" class="btn btn-lg btn-primary user-password-update-btn">Update password</button>
                        </p>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <%- include('partials/dashboardFooter') %>